body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  --brand-color: aquamarine;
}

header {
  background-color: var(--brand-color);
  color: green;
  font-weight: bold;
  font-size: 50px;
  padding: 1.5em 1em 1em 1em;
}

main {
  padding: 1em;
}

footer {
  background-color: var(--brand-color);
  padding: 2em 1em;
  margin-top: 3em;
}

p {
  line-height: 1.3;
}

header > div,
main,
footer > div {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}
